.group h3{
    color: #1D5770;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 26px 0;
}

.group h3 span{
    font-weight: 500;
}


.day{
    margin-bottom: 42px;
}

.day h3{
    color: #5A5A5A;
    font-size: 14.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.day h3 span{
    color: #5A5A5A;
    font-size: 13.534px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}





/* ------ Card ------- */



.card{
    max-width: 340px;
    flex-shrink: 0;
    border-radius: 19px;
    padding-left: 20px;
    padding-bottom: 17px;
    background-color: var(--white);
    margin-bottom: 8px;
}

.card .box{
    width: calc(340px - 40px);
    margin-top: 17px;
    margin-left: 20px;
}

.card .box div{
    margin-bottom: 6px;
}

.card .box .part, .card .box .lesson{
    color: #2D2D2D;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card .box .lesson{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.card .box .part span{
    color: #2D2D2D;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card .box .lesson span{
    display: block;
    color: #1D5770;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase;
}

.card .box .lesson span:first-letter{
    text-transform: uppercase;
}

.card .box .room{
    border-radius: 5px;
    background: #F8F8F8;
    width: fit-content;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.card .box .room div{
    color: #5A5A5A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -1px;
}

.card .box .room span{
    color: #5A5A5A;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 17px;
    margin-top: -1px;
}