:root {
  --blue: #1D5770;
  --grey: #5A5A5A;
  --lite-grey: #f3f6f8;
  --dark: #2D2D2D;
  --white: white;
}

*{
  margin: 0;
  padding: 0;
  border: none; 
  outline: none;
  z-index: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: var(--lite-grey);;
}