:root {
  --blue: #3d46a1;
  --grey: #5A5A5A;
  --lite-grey: #e1e4e7;
  --dark: #2D2D2D;
  --white: #f1f1f1;
}


html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  border: none; 
  outline: none;
  z-index: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: var(--lite-grey);
}
