.section{
    min-height: calc(100vh - 230px);
}

.section h1{
    margin: 30px 0 20px 0;
    color: var(--blue);
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.section h1 span{
    font-weight: 700;
}

.section div{
    color: var(--grey);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 16px;
}

.section div span{
    font-weight: 700;
}

.section div ul{
    margin-left: 20px;
}

.section svg{
    margin-bottom: -4px;
}