.wrapper {
    width: min-content;
}
.input {
    padding: 15px 17px;
    border-radius: 21px;
    font-size: 8px;
    line-height: 11px;
    color: #929292;
}
.list {
    padding-top: 6px;
    margin-top: 6px;
    height: 100%;
    max-height: 130px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 9px;
    color: var(--grey);
    transition: .6s height;
}

.list::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

.list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #E0E0E0;
}

.list::-webkit-scrollbar-track {
    margin-bottom: 6px;
}
.item {
    display: block;
    padding-left: 20px;
    font-size: 12px;
    color: var(--grey);
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}