.card{
    max-width: 340px;
    flex-shrink: 0;
    border-radius: 19px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: var(--white);
    margin-bottom: 9px;
}

.card .box{
    position: relative;
    width: calc(340px - 40px);
}

.card .box div{
    margin-bottom: 6px;
}

.card .box .lesson{
    padding-top: 12px;
    color: var(--blue);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-transform: uppercase;
}

.card .box .room{
    display: flex;
    flex-direction: row;

    font-size: 14px;
}

.card .box .room span{
    border-radius: 5px;
    background: #F8F8F8;
    width: 60px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 13px;
    font-weight: 600;
}

.card .box .room p{
    margin-top: 1px;
    margin-left: 10px;
}

.card .box .time span{
    position: absolute;
    width: fit-content;
    transform: translate(240px, -12px);
    font-size: 14px;

    color: var(--dark);
}



.notCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 90px;
    border-radius: 19.4px;
    background-color: var(--white);
    margin-bottom: 8px;
}

.notCard div{
    color: var(--blue);
    font-size: 14.4px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.box1 div{
    animation: fromLeft;
    animation-duration: .5s;
}
.box1 div{
    animation: fromLeft;
    animation-duration: .5s;
}

.box2 div{
    animation: fromLeft;
    animation-duration: .85s;
}
.box2 div span{
    animation: fromLeft;
    animation-duration: .95s;
}


.box3 div{
    animation: fromLeft;
    animation-duration: 1.1s;
}

.box3 div span{
    animation: fromLeft;
    animation-duration: 1.2s;
}


.box4 div{
    animation: fromLeft;
    animation-duration: 1.35s;
}
.box4 div span{
    animation: fromLeft;
    animation-duration: 1.45s;
}


.box5 div{
    animation: fromLeft;
    animation-duration: 1.6s;
}
.box5 div span{
    animation: fromLeft;
    animation-duration: 1.7s;
}



@keyframes fromLeft {
    0%{
        opacity: 0;
        transform: translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}

