.card{
    max-width: 340px;
    flex-shrink: 0;
    border-radius: 19px;
    padding-left: 20px;
    padding-bottom: 17px;
    background-color: var(--white);
    margin-bottom: 8px;
}

.card .box{
    width: calc(340px - 40px);
    margin-top: 17px;
    margin-left: 20px;
}

.card .box div{
    margin-bottom: 6px;
}

.card .box .part{
    color: var(--dark-grey);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lesson section{
    gap: 0px !important;
}

.card .box .lesson{
    color: var(--dark-grey);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.card .box .part span{
    color: var(--dark-grey);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card .box .lesson span{
    display: block;
    color: var(--blue);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.card .box .lesson span:first-child{
    width: fit-content;
    max-width: 190px;
}

.card .box .lesson section{
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.card .box .lesson p{
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}


.card .box .room{
    border-radius: 5px;
    background: #F8F8F8;
    width: fit-content;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.card .box .room div{
    color: #5A5A5A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -1px;
}

.card .box .room span{
    color: #5A5A5A;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 17px;
    margin-top: -1px;
}

.notCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 110px;
    border-radius: 19.4px;
    background-color: var(--white);
    margin-bottom: 8px;
}

.notCard div{
    color: var(--blue);
    font-size: 14.4px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.box1 div{
    animation: fromLeft;
    animation-duration: .5s;
}
.box1 div{
    animation: fromLeft;
    animation-duration: .5s;
}

.box2 div{
    animation: fromLeft;
    animation-duration: .85s;
}
.box2 div span{
    animation: fromLeft;
    animation-duration: .95s;
}


.box3 div{
    animation: fromLeft;
    animation-duration: 1.1s;
}

.box3 div span{
    animation: fromLeft;
    animation-duration: 1.2s;
}


.box4 div{
    animation: fromLeft;
    animation-duration: 1.35s;
}
.box4 div span{
    animation: fromLeft;
    animation-duration: 1.45s;
}


.box5 div{
    animation: fromLeft;
    animation-duration: 1.6s;
}
.box5 div span{
    animation: fromLeft;
    animation-duration: 1.7s;
}



@keyframes fromLeft {
    0%{
        opacity: 0;
        transform: translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}

