.wrapper{
    width: 100%;
    margin-top: 26px;
}

.wrapper section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 340px;
    margin: 0 auto;
}

.group h3{
    color: var(--blue);
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 26px 0;
}

.group h3 span{
    font-weight: 500;
}

@media(min-width: 440px) {
    .wrapper section{
        width: fit-content;
    }
}