
.day{
    margin-bottom: 42px;
    width: 340px;
}

.day h3{
    color: #5A5A5A;
    font-size: 14.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.day h3 span{
    color: #5A5A5A;
    font-size: 13.534px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.day h3 span{
    text-transform: capitalize
}

.groupDiv{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: var(--white);
    right: 25px;
    top: 85px;
    width: calc(100vw - 85px);
    border-end-end-radius: 27px;
    border-bottom-left-radius: 27px;
    background-color: var(--white);
    animation: down .6s;
    min-height: 0px;
    height: auto;
    max-height: 100px;
    overflow-y: scroll;
    padding: 20px ;
}

.groupDiv a{
    width: fit-content;
    color: #5A5A5A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}

.disGroup{
    display: none;
    opacity: 0;
    height: 0;
    transition: .5s;
}

@media(min-width: 600px) {
    .groupDiv{
        width: 290px;
    }
}

@keyframes down{
    0%{
        height: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
    }
    80%{
        height: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
    }
    100%{
        min-height: 0px;
        height: auto;
        max-height: 100px;
        overflow-y: scroll;
    }
}





/* ------ Card ------- */



.card{
    max-width: 340px;
    flex-shrink: 0;
    border-radius: 19px;
    padding-left: 20px;
    padding-bottom: 17px;
    background-color: var(--white);
    margin-bottom: 8px;
}

.card .box{
    width: calc(340px - 40px);
    margin-top: 17px;
    margin-left: 20px;
}

.card .box div{
    margin-bottom: 6px;
}

.card .box .part, .card .box .lesson{
    color: #2D2D2D;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card .box .lesson{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.card .box .part span{
    color: #2D2D2D;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card .box .lesson span{
    display: block;
    color: #1D5770;
    margin-bottom: -1.5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase;
}

.card .box .lesson span:first-child{
    width: fit-content;
    max-width: 173px;
}

.card .box .lesson span:first-letter{
    text-transform: uppercase;
}

.card .box .lesson p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.card .box .lesson section{
    gap: 2px;
}

.card .box .room{
    border-radius: 5px;
    background: #F8F8F8;
    width: fit-content;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.card .box .room div{
    color: #5A5A5A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -1px;
}

.card .box .room span{
    color: #5A5A5A;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 17px;
    margin-top: -1px;
}

.notCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 110px;
    border-radius: 19.4px;
    background-color: var(--white);
    margin-bottom: 8px;
}

.notCard div{
    color: var(--blue);
    font-size: 14.4px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}